
.contactUs_container {
  margin-top: 100px;
  font-family: cursive;
  margin-bottom: 0;
}
.contactUs_header_title {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  color:#f7d794;
}
.contactUs_title{
  color: #f7d794;
}
.contactUs_text{  
  color: #CAD3C8;
}
.contactUs_button{
  border: none;
  border-radius: 5px;
  padding: 10px;
  background-color: #f7d794;
  color: #B33771;
}
.contactUs_form{
  color:#CAD3C8;
}

.contactUs_row {
  display: flex;
  justify-content: center;
}

.contactUs_left {
  flex: 1;
  padding: 0 15px; /* Added padding for spacing */
  margin-top: 80px;
}

.contactUs_right {
  flex: 1;
  padding: 0 15px; /* Added padding for spacing */
  margin-left: 20px; /* Added margin for separation */
}

@media (max-width: 768px) {
  .contactUs_row {
    flex-direction: column;
    align-items: center;
  }

  .contactUs_right {
    margin-left: 0; /* Adjusted margin for smaller screens */
    margin-top: 20px; /* Added margin for spacing */
  }
}