
.contactUs_container {
  margin-top: 70px;
  font-family: cursive;
  margin-bottom: 0;
}
.contactUs_header_title {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  color:#f7d794;
}
.contactUs_title{
  color: #f7d794;
}
.contactUs_text{  
  color: #CAD3C8;
}
.contactUs_button{
  border: none;
  border-radius: 5px;
  padding: 10px;
}
.contactUs_form{
  color:#CAD3C8;
}