.app__navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--color-black);
  padding: 1rem 2rem;
  position: fixed;
  top: 0;
  z-index: 1000;
}

.app__navbar-logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.app__navbar-logo img {
  width: 150px;
}

.app__navbar-links {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  list-style: none;
}

.app__navbar-links li {
  margin: 0 1rem;
  cursor: pointer;
}
.app__navbar-links li a {
  text-decoration: none;
}
.app__navbar-links li a:hover {
  color: var(--color-grey);
}

.app__navbar-login {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* position: relative; */
}

.user__name {
  color: #dcca87;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  width: 50px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
/*  */
.btn__login {
  position: absolute;
  top: 50px;
  left: -70px;
  width: max-content;
  /* width: 50px; */
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
  z-index: 100;
  box-shadow: 0 2px 3px rgba(0, 0, 0, .25);
}

.btn__login::before {
  content: "";
  position: absolute;
  top: -20px;
  width: 100%;
  height: 20px;
  z-index: 111;
}

.btn__login div {
  width: 130px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  border-radius: 30px;
  color: #fff;
  background-color: #d02028;
  font-size: 15px;
  font-weight: 600;
}
.acount-info {
  width: 130px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  color: #3a77e5;
  font-weight: 600;
  cursor: pointer;
}








/*  */

.app__navbar-login a {
  margin: 0 1rem;
  text-decoration: none;
  transition: 0.5s ease;
}

.app__navbar-login a:hover {
  color: var(--color-grey);
  border-bottom: 1px solid var(--color-golden);
}

/* .app__navbar-login div {
  width: 1px;
  height: 30px;
  background: var(--color-grey);
} */

.app__navbar-smallscreen {
  display: none;
}

.app__navbar-smallscreen_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: var(--color-black);
  transition: 0.5s ease;

  flex-direction: column;
  z-index: 5;
}

.app__navbar-smallscreen_overlay .overlay__close {
  font-size: 27px;
  color: var(--color-golden);
  cursor: pointer;

  position: absolute;
  top: 20px;
  right: 20px;
}

.app__navbar-smallscreen_links {
  list-style: none;
}

.app__navbar-smallscreen_links li {
  margin: 2rem;
  cursor: pointer;
  color: var(--color-golden);
  font-size: 2rem;
  text-align: center;
  font-family: var(--font-base);
}

.app__navbar-smallscreen_links li:hover {
  color: var(--color-white);
}

@media screen and (min-width: 2000px) {
  .app__navbar-logo img {
    width: 210px;
  }
}

@media screen and (max-width: 1150px) {
  .app__navbar-links {
    display: none;
  }
  

  .app__navbar-smallscreen {
    display: flex;
  }
}

@media screen and (max-width: 650px) {
  .app__navbar {
    padding: 1rem;
  }

  .app__navbar-login {
    display: none;
  }

  .app__navbar-logo img {
    width: 110px;
  }
}
