.menuContainer {
    margin-top: 76px;    
    font-family: cursive;
}
.menu_category {
    position: relative;
}
.title {
    color: #f7d794;
    font-weight: 400;
    padding-top: 40px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
}
.title_more {
    position: relative;
}
.title_more::before{
    position: absolute;
    content: "";
    bottom:0;
    left: 50%;
    transform: translateX(-50%);
    width: 0px;
    height: 3px;
    background-color: #dcca87;
    border-radius: 5px;
}
.book_btn {
    grid-column: 1 / -1; 
    justify-self: end; 
}
.book_btn button{
    color: #B33771;
    background-color: #f7d794;
    font-size: 20px;
    font-weight: bold;
    width: 180px;
    height: 40px;
    border: none;
    border-radius: 20px;
}
.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 50px;
}
.menu_catery {
    width: 100px;
    height: 100px;
    background-color: #f5efdb;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: .5s;
}
.menu_catery:hover{
    background-color: #f7d794;
}
.menu_catery.active{
    background-color: #f5cd79;
}
.menu_catery div {
    width: 40px;
    height: 40px;
    background-color: #B33771;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #fff;
    margin-bottom: 10px;
}
.menu_container {
    display: grid;
    grid-template-columns: repeat(5, 220px);
    justify-content: center;
    gap: 25px;
    margin-top: 50px;
    padding-bottom: 100px;
}
.menu_item {
    background-color: #f5efdb;
    height: 200px;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    cursor: pointer;
    transition: .5s;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.menu_item:hover{
    background-color: #f7d794;
}
.choose_menu {
    animation: chooseMenu_1 .3s linear; 
}
.choose_menu_2 {
    animation: chooseMenu_2 .3s linear; 
}
.choose_menu_3 {
    animation: chooseMenu_3 .3s linear; 
}
.choose_menu_4 {
    animation: chooseMenu_4 .3s linear; 
}

@keyframes chooseMenu_1 {
    from {
        right: -80px;
        filter: blur(10px);
    }
    to {
        right: 0;
        filter: blur(0);
    }
}
@keyframes chooseMenu_2 {
    from {
        right: 80px;
        filter: blur(10px);
    }
    to {
        right: 0;
        filter: blur(0);
    }
}
@keyframes chooseMenu_3 {
    from {
        transform: scale(.8);
        filter: blur(10px);
    }
    to {
        transform: scale(1);
        filter: blur(0);
    }
}
@keyframes chooseMenu_4 {
    from {
        transform: scale(1.2);
        filter: blur(10px);
    }
    to {
        transform: scale(1);
        filter: blur(0);
    }
}

// .menu_item:hover {
//     transform: scale(.9);
// }
// .menu_item:hover .menu_price {
//     transform: scale(1.3);
// }
// .menu_item:hover .menu_more img {
//     transform: scale(1.3);
// }
.menu_more {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu_more div img {
    width: 120px;
    height: 120px;
    background-size: contain;
    border-radius: 5px;
    transition: .5s;
}
.icon_cart {
    width: 40px;
    height: 40px;
    background-color: #ff7675;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #fff;
    margin-right: 10px;
    cursor: pointer;
    transition: .5s;
}

.icon_cart:hover{
    transform: scale(1.2);
}
.menu_price {
    position: absolute;
    // right: 20px;
    bottom: 10px;
    transition: .5s;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
.menu_price span {
    font-size: 18px;
    font-weight: 500;
    color: #515151;
}
.menu_price p{
    margin-bottom: 0;
}

.menu_price p {
    font-size: 20px;
    font-weight: 600;
}



//form book
.form-book-container {
    margin: auto;
    position: absolute;

    width: 50%;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    color:#60a3bc;
    border-radius: 5px;
    background: rgb(255,255,255,0.1);
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.form-book-container.showFrom {
    animation: showFormOrder .3s linear forwards ;
}
.form-book-container.closeFrom {
    animation: closeformOrder .3s linear forwards ;
}

@keyframes closeformOrder {
    0% {
        width: 50%;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        right: 0;
        scale: 1;
    }
    100%{
        background-color: black;
        border: 1px solid black;
        color: black;
        bottom: 200px;
        right: 300px;
        scale: 0;
        width: 0;
        height: 0;
    }
}

@keyframes showFormOrder {
    from {
        bottom: 200px;
        right: 300px;
        scale: 0;
        width: 0;
        height: 0;
    }
}

