/* Accounts.module.scss */
.modal {
    display: none; // Hidden by default
    position: fixed;
    z-index: 1050;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0;

    align-items: center;
    justify-content: center;
}

.show {
    display: flex; // Change to flex to center the modal
}

.modalDialog {
    position: relative;
    width: 90%; // Set a smaller width
    max-width: 500px; // Limit the maximum width
    margin: 1.75rem auto; // Center horizontally
    pointer-events: none;
}

.modalContent {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 0.3rem;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    pointer-events: auto;
}

.modalHeader {
    padding: 1rem;
    border-bottom: 1px solid #e5e5e5;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modalTitle {
    margin: 0;
}

.close {
    padding: 0.75rem 1.25rem;
    background-color: transparent;
    border: 0;
    appearance: none;
    cursor: pointer;
}

.modalBody {
    padding: 1rem;
}

.modalFooter {
    padding: 1rem;
    border-top: 1px solid #e5e5e5;
    display: flex;
    justify-content: flex-end;
}

.btn-secondary {
    background-color: #6c757d;
    border: 1px solid #6c757d;
}

.btn-primary {
    background-color: #007bff;
    border: 1px solid #007bff;
}
