.news_container {
  padding: 2rem;

  border-radius: 0.5rem; // Optional: Rounded corners for the container
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); // Optional: Light shadow for a card effect
}

.news_header_title {
  text-align: center;
  margin-bottom: 2rem;

  h1 {
    color: #f7d794; // Title color
    font-size: 2rem; // Adjust font size for better readability
    margin: 0;
  }
}

.news_row {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem; // Space between cards
}

.news_card {
  flex: 1 1 calc(33.333% - 1rem); // Three cards per row with a gap
  display: flex;
  flex-direction: column;

  padding: 1rem;
  box-sizing: border-box; // To include padding in width calculations
  border: 1px solid; // Optional: Light border for separation
  border-radius: 0.5rem; // Rounded corners for the card
  transition: transform 0.3s ease, box-shadow 0.3s ease; // Smooth hover effects

  // Hover effects for the card
  &:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .news_image {
    width: 100%; // Make image take full width of the card
    height: 250px; // Adjust height to be more compact
    object-fit: cover;
    margin-bottom: 0.5rem; // Space between image and content
    border-radius: 0.5rem; // Rounded corners for the image
  }

  .news_content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    height: 100%; // Ensures content takes full height of the card
  }

  .news_title {
    color: #f7d794; // Title color
    font-size: 1.25rem;
    margin: 0;
  }

  .news_text {
    color: #CAD3C8; // Text color
    font-size: 1rem;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; // Ensure text does not wrap
  }

  .learn_more_btn {
    background: transparent;
    border: none;
    color: #B33771;
    cursor: pointer;
    text-decoration: underline;
    font-size: 1rem;
  }
}

// For loading and error states
.loading, .error {
  text-align: center;
  font-size: 1.5rem;
  color: #CAD3C8;
}
