.order_container {
    margin-top: 76px;
    position: relative;

}
.order_header_title {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    color: #fff;
}
//order
.order_row {
    width: 60%;
    margin: auto;
    padding: 50px 0;
}
.item-restaurant {
    padding: 10px 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(166 189 216);    
}
.item-restaurant:last-child{
    border-bottom: 0;   
}
.item-restaurant-info {
    display: flex;
    color: #f7d794;
}
.item-restaurant-1 {
    display: flex;
    align-items: center;
}
.item-restaurant-img {
    width: 100px;
    height: 100px;
}
.item-restaurant img {
    width: 100%;
    height: 90%;
    background-size: cover;
}
.item-restaurant-name {
    margin-left: 20px;
}
.item-restaurant-name span {
    font-size: 20px;
    font-weight: 600;
    // font-family: monospace;
    font-family: cursive;
}
.item-restaurant-name p {
    // font-family: 'Courier New', Courier, monospace;
    font-family: cursive;
}
.item-restaurant-more {
    display: flex;
    gap: 10px;
}

.item-price p {
    color: #58B19F;
    font-size: 20px;
    font-weight: 700;
    font-family: cursive;
    margin-bottom: 0;
}

.item-restaurant-more div {
    width: 25px;
    height: 25px;
}

.item-restaurant-more div button {
    width: 100%;
    height: 100%;
    color: #fff;
    border: none;
    background-color: #ff3f34;
    border-radius: 4px;
    cursor: pointer;
}
.item-restaurant-more div button:hover{
    background-color: #ef5777;
}
.content-sumary {
    padding: 10px 20px 0;
}

//total price
.total-price {
    width: 60%;
    height: 50px;
    margin: auto;
    // background-color: #fff;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 100px;
}
.total-price div {
    // padding-right: 50px;
    display: flex;
    // justify-content: flex-end;
    gap: 20px;
    align-items: center;
}
.total-price div p {
    font-size: 25px;
    font-weight: 600;
    color: #dcca87;
    margin-bottom: 0;
}
.total-price div p span{
    color: #fff;
}
.btn-order {
    width: 50px;
    height: 40px;
    // background-color: #0288d1;
    text-align: center;    
}
.btn-order button {
    color: #B33771;
    background-color: #f7d794;
    font-size: 17px;
    font-weight: bold;
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 5px;
}
.btn-order button:hover{
    transition: transform .6s;
    transform: scale(1.5);
}

//form book
.form-book-container {
    margin: auto;
    position: absolute;

    width: 50%;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    color:#60a3bc;
    border-radius: 5px;
    background: rgb(255,255,255,0.1);
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);

    
}
.form-book-container.showFrom {
    animation: showFormOrder .3s linear forwards ;
}
.form-book-container.closeFrom {
    animation: closeformOrder .3s linear forwards ;
}

@keyframes closeformOrder {
    0% {
        width: 50%;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        right: 0;
        scale: 1;
    }
    100%{
        background-color: black;
        border: 1px solid black;
        color: black;
        bottom: 200px;
        right: 300px;
        scale: 0;
        width: 0;
        height: 0;
    }
}

@keyframes showFormOrder {
    from {
        bottom: 200px;
        right: 300px;
        scale: 0;
        width: 0;
        height: 0;
    }
}
.btn-close-form-order {
    text-align: right;
    margin: 10px;
}
.btn-close-form-order button {
    width: 40px;
    height: 40px;
    border: none;
    background-color: transparent;
    font-size: 25px;
    color: #d02028;
}
.order-header-title {
    text-align: center;
    padding: 20px 0 30px 0;
}

.order-header-title span {
    font-weight: bold;
}
.form {
    display: flex;
    justify-content: space-around;
    height: 100px;
}
.form .older,
.form .time {
    width: 30%;
    font-weight: 400;
}
.form .older p span,
.form .time p span {
    margin-left: 5px;
}
.form .older select {
    width: 100%;
    height: 40px;
    outline: none;
    // border: 2px solid #0288d1;
}
.bg {
    background: #242120;
    border: 2px solid #242120;
    color: #242120;
}

.form .time input {
    width: 100%;
    height: 40px;
    outline: none;
    // border: 2px solid #0288d1;
}
.order-now {
    text-align: right;
    margin: 20px;
}
.order-now button {
    width: 70px;
    height: 40px;
    text-align: center;
    border: none;
    border-radius: 5px;
    background-color: #f7d794;
    color: #B33771;
    font-weight: 500;
}
.order_title{
    color: #f7d794;
    font-family: cursive;
}