.order_container {
    margin-top: 70px;
}
.order_header_title {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    color: #fff;
}
//order
.order_row {
    width: 60%;
    margin: auto;
    padding: 50px 0;
}
.item-restaurant {
    padding: 10px 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(166 189 216);    
}
.item-restaurant:last-child{
    border-bottom: 0;   
}
.item-restaurant-info {
    display: flex;
    color: #f7d794;
}
.item-restaurant-1 {
    display: flex;
    align-items: center;
}
.item-restaurant-img {
    width: 100px;
    height: 100px;
}
.item-restaurant img {
    width: 100%;
    height: 90%;
    background-size: cover;
}
.item-restaurant-name {
    margin-left: 20px;
}
.item-restaurant-name span {
    font-size: 20px;
    font-weight: 600;
    // font-family: monospace;
    font-family: cursive;
}
.item-restaurant-name p {
    // font-family: 'Courier New', Courier, monospace;
    font-family: cursive;
}
.item-restaurant-more {
    display: flex;
    gap: 10px;
}

.item-price p {
    color: #1a9b5f;
    font-size: 20px;
    font-weight: 700;
    font-family: cursive;
    margin-bottom: 0;
}

.item-restaurant-more div {
    width: 25px;
    height: 25px;
}

.item-restaurant-more div button {
    width: 100%;
    height: 100%;
    color: #fff;
    border: none;
    background-color: #ff3f34;
    border-radius: 4px;
    cursor: pointer;
}
.item-restaurant-more div button:hover{
    background-color: #ef5777;
}
.content-sumary {
    padding: 10px 20px 0;
}

//total price
.total-price {
    width: 60%;
    height: 50px;
    margin: auto;
    // background-color: #fff;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 100px;
}
.total-price div {
    // padding-right: 50px;
    display: flex;
    // justify-content: flex-end;
    gap: 20px;
    align-items: center;
}
.total-price div p {
    font-size: 25px;
    font-weight: 600;
    color: #dcca87;
    margin-bottom: 0;
}
.total-price div p span{
    color: #fff;
}
.btn-order {
    width: 50px;
    height: 40px;
    // background-color: #0288d1;
    text-align: center;
}
.btn-order button {
    color: #fff;
    background-color: #FD7272;
    font-size: 17px;
    font-weight: bold;
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 5px;
}