
.btn-close-form-order {
    text-align: right;
    margin: 10px;
}
.btn-close-form-order button {
    width: 40px;
    height: 40px;
    border: none;
    background-color: transparent;
    font-size: 25px;
    color: #d02028;
}
.order-header-title {
    text-align: center;
    padding: 20px 0 30px 0;
}

.order-header-title span {
    font-weight: bold;
}
.form {
    display: flex;
    justify-content: space-around;
    height: 100px;
}
.form .older,
.form .time {
    width: 30%;
    font-weight: 400;
}
.form .older p span,
.form .time p span {
    margin-left: 5px;
}
.form .older select {
    width: 100%;
    height: 40px;
    outline: none;
    // border: 2px solid #0288d1;
}
.bg {
    background: #242120;
    border: 2px solid #242120;
    color: #242120;
}

.form .time input {
    width: 100%;
    height: 40px;
    outline: none;
    // border: 2px solid #0288d1;
}
.order-now {
    text-align: right;
    margin: 20px;
}
.order-now button {
    width: 70px;
    height: 40px;
    text-align: center;
    border: none;
    border-radius: 5px;
    background-color: #f7d794;
    color: #B33771;
    font-weight: 500;
}
.order_title{
    color: #f7d794;
    font-family: cursive;
}


.total_price {
    width: 100%;
    margin-top: 30px;
    padding-left: 50px;
}
.total_price div {
    font-size: 20px;
    color: #B33771;
    font-weight: 600;
}
.total_price span {
    font-size: 25px;
    color: #d02028;
}