.container_lobby {
    margin-top: 76px;
    font-family: cursive;
}

.info_lobby {
    width: 70%;
    margin: auto;
    padding-bottom: 30px;
    padding-top: 40px;
}

.lobby_title {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.lobby_title h1 {
    margin-bottom: 0;
    color: #f7d794;
}

.info_lobby_more {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end; // Align items to the bottom
    margin-bottom: 30px; // Increased margin for better spacing
}

.leftImage {
    flex-direction: row; // Image on the left, content on the right
}

.rightImage {
    flex-direction: row-reverse; // Content on the left, image on the right
}

.info_lobby_img {
    width: 55%;
    margin-left: auto;
}

.info_lobby_img img {
    width: 60%; // Ensure the image takes up the full width of its container
    height: 30%; // Fixed height for consistent image sizing
    object-fit: cover; // Ensure images are cropped properly if necessary
    border: none;
    border-radius: 50px;
}

.info_title {
    width: 45%;
    margin-right: auto;

    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: flex-end; // Align content to the bottom
}

.info_title_header {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    color: #f7d794;
}

.info_title_body {
    width: 100%;
    padding: 20px;
    color: #fff;
}

@media (max-width: 768px) {
    .info_lobby_more {
        flex-direction: column;
        align-items: stretch;
    }

    .info_lobby_img,
    .info_title {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 10px;
    }
}
