// src/clientPages/AboutUs/About.module.scss
.aboutSection {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.aboutCard {
  display: flex;
  background: transparent;
  border: none;
  padding: 1rem;
  box-shadow: none;
  align-items: center;
}

.even {
  flex-direction: row;
}

.odd {
  flex-direction: row-reverse;
}

.imageContainer {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.aboutImage {
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
}

.textContainer {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  background: transparent;
}

.aboutTitle {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #f7d794;
}

.aboutText {
  font-size: 1rem;
  line-height: 1.5;
  color: #CAD3C8;
}

.aboutUsContainer {
  padding: 2rem;
  background: transparent;
}

.aboutUsHeaderTitle {
  text-align: center;
  margin-bottom: 2rem;
}

.aboutUsRow {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
