/* src/clientPages/AboutUs/AboutUs.css */

.container.about_us {
    background-color: black;
    color: lightyellow;
    padding: 20px;

}

.about_us_title {
    color: lightyellow;
    text-align: center;
    margin-bottom: 20px;
}

.card.about_us_card {
    background-color: #333;
    border: none;
    color: lightyellow;
    margin-bottom: 20px;
}

.about_us_card_body {
    padding: 20px;
}

.about_us_card_title {
    color: lightyellow;
    text-align: center;
}

.about_us_card_text {
    color: lightyellow;
    text-align: center;
}

.about_us_image {
    width: 100%;
    max-width: 350px; /* Limit size for consistent appearance */
    height: 100%; /* Maintain aspect ratio */
    object-fit: cover; /* Ensure the image covers the box */
    border-radius: 5%; /* Make the image circular */
    border: 2px solid lightyellow; /* Add a border for better visibility */
    margin-bottom: 10px; /* Space between images */
}

.about_us_image_col {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px; /* Space between rows */
}

.row.about_us_row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center images horizontally */
}
