.checkout_container {
    margin-top: 76px;
}
.checkout_info {
    padding: 100px 0;
    width: 60%;
    margin: auto;
}
.checkout_tatle {
    background-color: transparent!important;
}

.total_price {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
}
.total_price p {
    margin-bottom: 0;
}

