.user_pass_all{
    font-family: cursive;
}
.user_pass_change_title {
    text-align: center;
    padding-top: 20px;
    color: #f7d794;
}
.user_pass_input {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    margin-top: 20px;
}
.user_pass_input_title {
    display: flex;
    justify-content: flex-end;
    padding-right: 30px;
}
.user_pass_input div span {
    font-weight: bold;
}
.user_pass_input div input {
    border: none;   
    outline: none;
    height: 30px;
    padding: 2px;
}

.user_pass_input_value{
    border-radius: 5px;
}

.user_btn_update {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    padding-bottom: 20px;
}
.user_btn_update button {
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: #f7d794;
    color: #B33771;
    font-weight: 600;
}

.changePw_otp {
    display: flex;               
    align-items: center;        
    gap: 10px;                   
    margin-bottom: 20px;         
}

.otpAndPasswordContainer {
    display: flex;
    flex-direction: column;
    gap: 20px; 
}


.sectionContainer {
    display: flex;
    flex-direction: row;
    gap: 10px; 
    align-items: center; 
}


.inputField {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 100%; 
    flex: 1; 
}


.button {
    background-color: #f7d794;
    color: #B33771;
    padding: 12px 20px; 
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: auto; 
    white-space: nowrap; 
    text-align: center; 
    display: inline-block; 
    font-weight: 600;
}


.button:hover {
    background-color: #e0c970;
}