.user_pass_all{
    font-family: cursive;
}
.user_pass_change_title {
    text-align: center;
    padding-top: 20px;
    color: #f7d794;
}
.user_pass_input {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    margin-top: 20px;
}
.user_pass_input_title {
    display: flex;
    justify-content: flex-end;
    padding-right: 30px;
}
.user_pass_input div span {
    font-weight: bold;
}
.user_pass_input div input {
    border: none;   
    outline: none;
    height: 30px;
    padding: 2px;
}

.user_pass_input_value{
    border-radius: 5px;
}

.user_btn_update {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    padding-bottom: 20px;
}
.user_btn_update button {
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: #f7d794;
    color: #B33771;
    font-weight: 600;
}

.changePw_otp {
    display: flex;                // Use flexbox to align items horizontally
    align-items: center;         // Center align items vertically
    gap: 10px;                    // Space between the input and button
    margin-bottom: 20px;          // Space below the container (adjust as needed)
}

.otpAndPasswordContainer {
    display: flex;
    flex-direction: column;
    gap: 20px; // Adds space between each section (OTP and Update Password)
}

// Container for each section (OTP and Update Password)
.sectionContainer {
    display: flex;
    flex-direction: row;
    gap: 10px; // Adds space between input and button
    align-items: center; // Center align items vertically
}

// Style for input fields
.inputField {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 100%; // Ensures input fields take full width of container
    flex: 1; // Allows input to take up remaining space
}

// Style for buttons
.button {
    background-color: #f7d794;
    color: #B33771;
    padding: 12px 20px; // Increased padding for a more rectangular appearance
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: auto; // Width adjusts to content size
    white-space: nowrap; // Prevents text from wrapping to the next line
    text-align: center; // Center align text within button
    display: inline-block; // Ensures the button does not stretch
    font-weight: 600;
}

// Add hover effect for buttons
.button:hover {
    background-color: #e0c970;
}