// Container styling
.container {
  margin-top: 30px;
}

// Table styling
.table {
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  th, td {
    padding: 15px;
    text-align: center;
    vertical-align: middle;
  }

  th {
    background-color: #f8f9fa;
    color: #343a40;
    font-weight: bold;
  }

  tbody tr {
    transition: background-color 0.3s;
  }

  tbody tr:hover {
    background-color: #f1f1f1;
  }

  .bg-danger {
    background-color: #f8d7da !important;
    color: #721c24;
  }

  .badge {
    font-size: 0.9rem;
  }
}

// Button styling
.btn-outline-primary {
  border-color: #007bff;
  color: #007bff;

  &:hover {
    background-color: #007bff;
    color: #fff;
  }
}

// Modal styling
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1050;
}

.modal-dialog {
  background: #fff;
  border-radius: 0.3rem;
  max-width: 500px;
  margin: 1.75rem auto;
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-clip: padding-box;
  border: 1px solid #dee2e6;
  border-radius: 0.3rem;
}

.modal-header {
  padding: 1rem;
  border-bottom: 1px solid #dee2e6;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #007bff; // Match header color
  color: #fff; // Header text color
}

.modal-title {
  margin: 0;
  font-size: 1.25rem;
  font-weight: 500;
}

.btn-close {
  background: transparent;
  border: 0;
  font-size: 1.5rem;
  line-height: 1;
  color: #000;
  opacity: 0.5;
  cursor: pointer;
}

.btn-close:hover {
  opacity: 1;
}

// Modal Body
.modal-body {
  position: relative;
  flex: 1 1 auto;
  padding: 1rem;
  img {
    max-width: 30%;
    height: auto;
    display: block;
    margin: 0 auto;
  }
}

.modal-footer {
  padding: 1rem;
  border-top: 1px solid #dee2e6;
  display: flex;
  justify-content: flex-end;
}

// Pagination styling
.pagination {
  justify-content: center;

  .page-item {
    margin: 0 2px;

    .page-link {
      border-radius: 0.5rem;
      padding: 8px 12px;
      font-size: 0.9rem;
    }

    &.active .page-link {
      background-color: #007bff;
      color: #fff;
      border: none;
    }

    &.disabled .page-link {
      background-color: #e9ecef;
      color: #6c757d;
      border: none;
    }

    .page-link {
      border: 1px solid #dee2e6;
    }
  }
}

// Other styling
.text-end {
  text-align: end;
}

.mb-0 {
  margin-bottom: 0;
}
