.container {
    margin-top: 76px;
}
.wapper {
    width: 60%;
    margin: auto;
    padding-bottom: 30px;
    padding-top: 40px;
}

.menu_container {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    justify-content: center;
    gap: 25px;
    margin-top: 50px;
    padding-bottom: 100px;
}
.menu_item {
    background-color: #dcca87;
    width: 100%;
    height: 400px;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    transition: .5s;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.table_title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    background-color: #daa785;
    color: #fff;
}
.table_title h5 {
    margin-bottom: 0;
}
.menu_more div{
    width: 100%;
    height: 150px;
}
.menu_more div img {
    width: 100%;
    height: 100%;
    background-size: cover;
    border-radius: 5px;
}
.icon_cart {
    width: 40px;
    height: 40px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #fff;
    margin-right: 10px;
    cursor: pointer;
    transition: .5s;
}

.icon_cart:hover{
    transform: scale(1.2);
}
.menu_price {
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    bottom: 70px;
}
.table_description {
    margin: 20px;
    font-size: 15px;
    color: #fff;
}

.detail_title {
    position: absolute;
    bottom: 20px;
    width: 100%;
    display: flex;
    justify-content:center;
    align-items:center;
    height: 30px;
}
.detail_title button {
    font-size: 20px;
    width: 180px;
    height: 40px;
    text-align: center;
    border: none;
    background-color: #daa785;
    border-radius: 10px;
    color: #fff;
    
}
.menu_price span {
    font-size: 18px;
    font-weight: 500;
    color: #515151;
}
.menu_price p{
    margin-bottom: 0;
}

.menu_price p {
    font-size: 20px;
    font-weight: 600;
}