section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to bottom, #f5f5f5, #f1e07a);
}
section .color {
    position: absolute;
    filter: blur(150px);
}
section .color:nth-child(1){
    top: -350px;
    width: 600px;
    height: 600px;
    background: #fad390;
}
section .color:nth-child(2){
    bottom: -150px;
    left: 100px;
    width: 500px;
    height: 500px;
    background: #e58e26;
}
section .color:nth-child(3){
    bottom: 50px;
    left: 100px;
    width: 300px;
    height: 300px;
    background: #f6b93b;
}
.box {
    position: relative;

    .square {
        position: absolute;
        border-radius: 10px;
        backdrop-filter: blur(5px);
        background: rgb(255,255,255,0.1);
        animation: animate 10s linear infinite;
        animation-delay: calc(-1s * var(--i));
        box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
        border: 1px solid rgba(255, 255, 255, 0.5);
        border-right: 1px solid rgba(255, 255, 255, 0.2);
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);

        @keyframes animate {
            0%,100%{
                transform: translateY(-40px);
            }
            50% {
                transform: translateY(40px);
            }
        }
        &:nth-child(1){
            top: -50px;
            right: -60px;
            width: 100px;
            height: 100px;
        }
        &:nth-child(2){
            top: 150px;
            left: -100px;
            width: 120px;
            height: 120px;
            z-index: 2;
        }
        &:nth-child(3){
            bottom: 50px;
            right: -60px;
            width: 80px;
            height: 80px;
            z-index: 2;
        }
        &:nth-child(4){
            bottom: -80px;
            left: 100px;
            width: 50px;
            height: 50px;
        }
        &:nth-child(5){
            top: -80px;
            left: 140px;
            width: 60px;
            height: 60px;
        }
    }
}
.container {
    position: relative;
    width: 400px;
    min-height: 400px;
    background: rgb(255,255,255,0.1);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.form {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 40px;

    h2{
        position: relative;
        color: #1e3799;
        font-weight: 600;
        letter-spacing: 1px;
        margin-bottom: 40px;

        &::before{
            content: '';
            position: absolute;
            left: 0;
            bottom: -10px;
            width: 80px;
            height: 4px;
        }
    }

    .input-box {
        width: 100%;
        margin-top: 20px;

        input{
            width: 100%;
            background: rgba(255, 255, 255, 0.2);
            border: none;
            outline: none;
            border-radius: 35px;
            padding: 10px 20px;
            border: 1px solid rgba(255, 255, 255, 0.5);
            border-right: 1px solid rgba(255, 255, 255, 0.2);
            border-bottom: 1px solid rgba(255, 255, 255, 0.2);
            font-size: 16px;
            letter-spacing: 1px;
            color: #1e3799;
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
        }
        &::placeholder{
            color: #1e3799;
        }
        
    }
}
.form .input-box button
{
    color: #fad390;
    background: #786fa6;
    width: 100px;
    height: 30px;
    cursor: pointer;
    margin-bottom: 20px;
    font-weight: 600;
    border: none;
    border-radius: 10px;
}

.forget {
    margin-top: 5px;
    color: #1e3799;
    cursor: pointer;

    a {
        color: #1e3799;
        font-weight: 600;
    }
}