.menuContainer {
    margin-top: 76px;    
}

.title {
    text-align: center;
    color: #dcca87;
    font-weight: 400;
    padding-top: 40px;
    position: relative;
    margin-bottom: 20px;
}
.title::before{
    position: absolute;
    content: "";
    bottom:0;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    height: 3px;
    background-color: #dcca87;
    border-radius: 5px;
}
.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 50px;
}
.menu_catery {
    width: 100px;
    height: 120px;
    background-color: #f5efdb;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: .5s;
}
.menu_catery:hover{
    background-color: #f2e4b4;
}
.menu_catery.active{
    background-color: #f2e4b4;
}
.menu_catery div {
    width: 40px;
    height: 40px;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #fff;
    margin-bottom: 10px;
}
.menu_container {
    display: grid;
    grid-template-columns: repeat(5, 220px);
    justify-content: center;
    gap: 25px;
    margin-top: 50px;
    padding-bottom: 100px;
}
.menu_item {
    background-color: #dcca87;
    height: 220px;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    cursor: pointer;
    transition: .5s;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    // animation: chooseMenu_(var(--i)) .3s linear; 
}
.choose_menu {
    animation: chooseMenu_1 .3s linear; 
}
.choose_menu_2 {
    animation: chooseMenu_2 .3s linear; 
}
.choose_menu_3 {
    animation: chooseMenu_3 .3s linear; 
}
.choose_menu_4 {
    animation: chooseMenu_4 .3s linear; 
}

@keyframes chooseMenu_1 {
    from {
        right: -80px;
        filter: blur(10px);
    }
    to {
        right: 0;
        filter: blur(0);
    }
}
@keyframes chooseMenu_2 {
    from {
        right: 80px;
        filter: blur(10px);
    }
    to {
        right: 0;
        filter: blur(0);
    }
}
@keyframes chooseMenu_3 {
    from {
        transform: scale(.8);
        filter: blur(10px);
    }
    to {
        transform: scale(1);
        filter: blur(0);
    }
}
@keyframes chooseMenu_4 {
    from {
        transform: scale(1.2);
        filter: blur(10px);
    }
    to {
        transform: scale(1);
        filter: blur(0);
    }
}

.menu_item:hover {
    transform: scale(.9);
}
.menu_item:hover .menu_price {
    transform: scale(1.3);
}
.menu_item:hover .menu_more img {
    transform: scale(1.3);
}
.menu_more {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu_more div img {
    width: 120px;
    height: 120px;
    background-size: contain;
    border-radius: 5px;
    transition: .5s;
}
.icon_cart {
    width: 40px;
    height: 40px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #fff;
    margin-right: 10px;
    cursor: pointer;
    transition: .5s;
}

.icon_cart:hover{
    transform: scale(1.2);
}
.menu_price {
    position: absolute;
    right: 20px;
    bottom: 10px;
    transition: .5s;
}
.menu_price span {
    font-size: 18px;
    font-weight: 500;
    color: #515151;
}
.menu_price p{
    margin-bottom: 0;
}

.menu_price p {
    font-size: 20px;
    font-weight: 600;
}