.loading {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgb(255,255,255,0.1);
    backdrop-filter: blur(5px);
    

    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    z-index: 11;
}